* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("../image/pembuatan-website-olahraga.png");
    background-position: center;
}

.form-box,
.form-box * {
    box-sizing: border-box;
}
.form-box {
    width: 892px;
    height: 500px;
    position: relative;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.form-box1 {
    background: rgba(217, 217, 217, 0.65);
    border-radius: 30px;
    width: 886px;
    height: 500px;
    position: absolute;
    left: 6px;
    top: 1px;
}

.login {
    color: #000000;
    text-align: center;
    font: 800 40px "Poppins", sans-serif;
    position: absolute;
    left: 490px;
    top: 30px;
}

.bolt-text {
    font-weight: bold;
}

.image1 {
    width: 158px;
    height: 152px;
    position: absolute;
    left: 580px;
    top: 110px;
}
.custom-button a {
    text-decoration: none;
}
.custom-button {
    position: relative;
    top: 280px;
    left: 212px;
}

.login-heading {
    position: relative;
    color: #0f1316;
}

.dropdown {
    position: relative;
    top: 350px;
    left: 220px;
}

.dropdown .btn {
    border-color: transparent; /* Set border color to transparent */
}

.small-text {
    font-size: 12px; /* Ubah ukuran teks sesuai keinginan Anda */
}
.textinstagram {
    position: relative;
    top: 360px;
    left: 120px;
}
.textinstagram a {
    color: black; /* Warna teks diubah menjadi hitam */
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
}
.textyoutube {
    position: relative;
    top: 370px;
    left: 230px;
}
.textyoutube a {
    color: black; /* Warna teks diubah menjadi hitam */
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
}

.form-box2 {
    background: rgba(122, 122, 122, 0.65);
    border-radius: 30px 0px 0px 30px;
    width: 437px;
    height: 501px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.image2 {
    width: 320px;
    height: 237px;
    position: relative;
    top: 120px;
    left: 55px;
}

.form1{
    position: relative;
    top: 90 px;
    left: 460px;
    width: 400px;
    height: 10px;
}

@media screen and (max-width: 1147px) {
    section {
        grid-gap: 9rem;
    }
}

@media screen and (max-width: 900px) {
    section {
        grid-gap: 5rem;
    }

    .login {
        text-align: center;
        top: 50px;
        left: 50px;
    }

    .form-box {
        width: 417px;
        position: relative;
        border-radius: 30px;
    }
    .form-box1 {
        width: 411px;
        position: relative;
        border-radius: 30px;
    }
    .form-box2 {
        display: none;
    }

    .custom-button {
        position: relative;
        top: 270px;
        left: 1px;
    }

    .dropdown {
        position: relative;
        top: 270px;
        left: 1px;
    }

    .textinstagram {
        position: relative;
        top: 277px;
        left: auto;
    }
    .textyoutube {
        position: relative;
        top: 280px;
        left: auto;
    }

    .image1 {
        width: 150px;
        height: 150px;
        left: 130px;
    }
}
